*{
  box-sizing: border-box;
}


body{
margin: 0;
text-align: center;
color: black;
}

img{
  max-width: 100%;
}

/* -----------------------
Layout
--------------------------*/

.wrap {
  width: 100%;
  //I think this makes everything centered
  margin: 0 auto;
}

.flex-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*used to creat the gride for stuff*/
.container{
  background-color:  #D1C4E9;
  display: grid;
  grid-gap: 10px;
}

.container1{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: auto;
}

.testItem{
  background-color: #673AB7;
  color: #fff;
  padding: 5px;
}

/* -----------------------
Nav
--------------------------*/
.largeIcon{
  font-size: 45px;
}


/* -----------------------
Grid
--------------------------*/

/*to create a 3 column nav with the css grid container in layout*/
.column3{
grid-template-columns: repeat(3, minmax(100px,33%));
padding: 10px;
}
.column6{
grid-template-columns: repeat(6, minmax(100px,16%));
padding: 10px;
}

.column1{
  grid-template-rows: repeat(1, minmax(100px,100%));
  padding: 10px
}
.column2{
  grid-template-columns: repeat(2,minmax(100px,50%));
  padding: 10px;
}

.column4{
  grid-template-columns: repeat(4,minmax(100px,25%));
  padding: 10px;
}

.columnOneForth{
  width: 25%;
}

.smallBox{
  width: calc(100% * (1/6) - 21px);
}

.PhotoSlider{
  height: auto;
  width: auto;
  background-color: blue;

}

section img{
  width:auto;
  height: auto;
}
