*{
  box-sizing: border-box;
}


body{
margin: 0;
text-align: center;
}

img{
  max-width: 100%;
}

/* -----------------------
Layout
--------------------------*/

.wrap {
  width: 100%;
  //I think this makes everything centered
  margin: 0 auto;
}

.flex-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


.column3{
  width:30%;
}
/*used to creat the gride for stuff*/
.container{
  background-color:  #D1C4E9;
  display: grid;
  grid-gap: 10px;
}

.testItem{
  background-color: #673AB7;
  color: #fff;
  padding: 5px;
}

/* -----------------------
Nav
--------------------------*/
/*to create a 3 column nav with the css grid container in layout*/
.reponsiveHead{
grid-template-columns: repeat(3, minmax(100px,33%));
padding: 10px;
}
.reponsiveNav{
grid-template-columns: repeat(6, minmax(100px,16%));
padding: 10px;
}

.column1{
  grid-template-rows: repeat(1, minmax(100px,100%));
  padding: 10px
}
.column2{
  grid-template-columns: repeat(2,minmax(100px,50%));
  padding: 10px;
}


.PhotoSlider{
  height: auto;
  width: auto;
  background-color: blue;

}

section img{
  width:auto;
  height: auto;
}
